spring.config.activate.on-profile=dev
spring.datasource.url=${DATABASE_URL:jdbc:postgresql://localhost:5432/yourAwesomeDatabase}
spring.datasource.username=${DATABASE_USERNAME:yourAwesomeUsername}
spring.datasource.password=${DATABASE_PASSWORD:yourEquallyAwesomePassword}

spring.security.user.name=${SECURITY_USERNAME:admin}
spring.security.user.password=${SECURITY_PASSWORD:devFinch}

#
# Hashicorp Vault
#
spring.cloud.vault.host=localhost
spring.cloud.vault.port=8200
spring.cloud.vault.schem=http

spring.cloud.vault.authentication=TOKEN
spring.cloud.vault.token=myroot

spring.cloud.vault.fail-fast=false
spring.config.import=optional:vault://

spring.cloud.vault.kv.enabled=true
spring.cloud.vault.kv.backend=secret
spring.cloud.vault.kv.default-context=application

logging.level.org.springframework.cloud.vault=WARN
logging.level.org.springframework.vault=WARN

#
# Port
#
server.port=8081